<div class="sidenav">
    
 </div>
 <div class="main">
    <div class="col-md-12 col-sm-12 logwidth">
       <div class="login-form">
           <h1>Login into your account</h1>
           <a>Welcome back!Please nlogin into your account</a>
        <form class="form-signin" #loginForm="ngForm" role="form" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
            <div class="append-icon">
                <input type="text" #UserName ngModel name="UserName" id="username" class="form-control form-white username" placeholder="Enter Username" required>
                <i class="icon-user"></i>
            </div>
            <br>
            <div class="append-icon m-b-20">
                <input type="password" #Password ngModel name="Password" class="form-control form-white password" placeholder="Enter Password" required>
                <i class="icon-lock"></i>
            </div>
            <br>
            <button type="submit" id="submit-form" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left" style="background-color: #13244e; border-color: #13244e;">Log In</button>
        </form>
       </div>
    </div>
 </div>
