
    <div id="content" style="width: 100% !important; padding-left: 30px; padding-top: 20px;">
<div class="row">
<div class="col-md-6">
    <i class="fa fa-align-justify" style="font-size: 20px;"></i>
</div>
<div class="col-md-6">
<div class="row">
    <div class="col-md-6">
        <div class="card"  style="background-color: white;">
            <div class="card-body">
                <b>Notification Center</b><br>
                <small>you have <b>{{personnelDashboard.notification_count}}</b> unread notifications</small> 
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body" style="color: black;">
                <b>{{personnelDashboard.logged_user}}</b><br>
                <small>Verify by Juls</small>
                <i class="fa fa-sign-out" style="float:right" (click)="OnClickLogOut()"></i>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <h3>Dashboard</h3>
    </div>
    <div class="col-md-6">
        <div  style="float: right !important;">
        Customize Dashboard | <b>{{currDate | date }}</b>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body" style="background: linear-gradient(182deg,#133f77,#116da8);">
                <h4 class="card-title" style="color: #77c1ec;">WELCOME BACK {{personnelDashboard.logged_user}}</h4>
                <p class="card-text" style="color: #ffffff;">See overview of analytics and reporting metrics <br>
                    and a lot of more interesting stuffs you can do here.</p>
                <button class="btn btn-default" style="color: #5584c1;">Take A Tour</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body" style="    background: linear-gradient(182deg,#e5eefb,#e5eefb);">
                <h4 class="card-title">OPTIMIZED APPLICATION PROCESSING</h4>
                <p class="card-text">We've optimized the system to process your <br>
                    as fast as possible. Click on the button below to get started.</p>
                <button class="btn btn-info" style="background-color: #1b5bac;">New Request</button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4"  *ngFor="let item of personnelDashboard.chart_stat">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title" (click)="OnClickTitle()">{{cardTitle}}</h6>
                <input *ngIf="clickedTxtTitle" id="item-spent" [(ngModel)]="cardTitle" placeholder="title">
                <p class="card-text">{{item.label}} </p>

                <div class="card">
                    <div class="card-body" [style.backgroundColor]="cardColor">
                       
                                <div class="row">
                                    <div class="col-sm-6">
                                        Total Pay (NGN)<br>
                                        <b (click)="OnClick()">{{5 * item.spent}}</b>
                                        <input *ngIf="clickedTxt" id="item-spent" [(ngModel)]="item.spent" placeholder="spent">
                                    </div>
                                    <div class="col-sm-6">
                                        <ul>
                                            <li>Total Spent</li>
                                            <li>Balance</li>
                                        </ul>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        Total Spent (NGN)<br>
                                        <b>{{item.spent}}</b>
                                    </div>
                                    <div class="col-sm-6">
                                        Balance (NGN)<br>
                                        <b (click)="OnClickBalance()">{{item.balance}}</b>
                                        <input *ngIf="clickedTxtBal" id="item-balance" [(ngModel)]="item.balance" placeholder="balance">
                                    </div>
                                </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <label>Change Card Color:  </label>  
    <input id="color" [(ngModel)]="cardColor" placeholder="change card color">
</div>
    </div>