
    <nav id="sidebar" style="height: 100%;">
        <div class="sidebar-header">
            <img src="" alt="">
            <h4 style="color: #88b6d5">Express Lands</h4>
            <hr>
        </div>
        <ul class="list-unstyled components" style="color: black !important">
            <li><a href="#"><i class="fa fa-home iconcolor"></i> Dashboard</a> </li>
            <li> <a href="#"><i class="fa fa-map iconcolor"></i> Menu Item 1</a> </li>
            <li> <a href="#"><i class="fa fa-users iconcolor"></i> Menu Item 2</a> </li>
            <li> <a href="#"><i class="fa fa-money iconcolor"></i> Menu Item 3</a> </li>
            <li> <a href="#"><i class="fa fa-check iconcolor"></i> Menu Item 4</a> </li>
            <li> <a href="#"><i class="fa fa-sticky-note iconcolor"></i> Menu Item 5</a> </li>
        </ul>
    </nav>